ai-news-profit-agent.json.json
{
  "name": "ai-news-profit-agent.json",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 59
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "cadd380e-3cb7-474f-9465-abea44d6f5b5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://webrazzi.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        208,
        0
      ],
      "id": "2b5bc39a-6d9a-4c14-aeb2-05c86824f27e",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9639a59b-141d-496e-82bb-3c88c3ddc818",
              "leftValue": "={{ $json.title }}",
              "rightValue": "yapay zeka",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "35cc46fb-732b-43fb-895e-678877373198",
      "name": "Filter"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=🚨 **YENİ YAPAY ZEKA HABERİ** 🚨\n {{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1296,
        -16
      ],
      "id": "16353a26-ae81-465e-99e8-c09b521e3f7d",
      "name": "Discord",
      "webhookId": "4da95216-7808-4cd8-bcc9-a58d85b3f25f",
      "credentials": {
        "discordWebhookApi": {
          "id": "KsXfIdp8VFpUH0jd",
          "name": "Discord Webhook account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Sana gelen haber şu: {{ $json.title }}. Bu haberi 1 cümlede özetle ve 'Arda, bu haberden şöyle bir para kazanabilirsin:' diyerek bana bir iş fikri ver.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        912,
        -32
      ],
      "id": "0a3b450d-569c-4715-a5d4-3bcfd0728fd3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        784,
        176
      ],
      "id": "86713ec0-a6b8-408c-850a-645293b2c819",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "yCI6UN14p73Cv723",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  // Başlığı büyük harfe çevirip roket ekliyoruz\n  item.json.title = item.json.title.toUpperCase() + \" 🚀\";\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "99e9298f-ef51-4f7d-bfd5-76fc62ef09f4",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "1a4b1174-01b9-4b0d-96f5-ecc23745a2b4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1be39295d7e24c4f33466a46441eae6192c1e47fa49ca9d4f866961318239f23"
  },
  "id": "rTwWepjAJBzTWntm",
  "tags": []
}